<a href="https://colab.research.google.com/github/Witney-C/qm2group18/blob/main/Colour_Assignment_Further_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
!mkdir data
!curl https://raw.githubusercontent.com/Witney-C/qm2group18/main/access_colours.csv -o ./data/access_colours.csv
!curl https://raw.githubusercontent.com/Witney-C/qm2group18/main/counties.csv -o ./data/counties.csv

mkdir: cannot create directory ‘data’: File exists
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100 52207  100 52207    0     0   291k      0 --:--:-- --:--:-- --:--:--  291k
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100 79688  100 79688    0     0   345k      0 --:--:-- --:--:-- --:--:--  345k

In [2]:
import pandas as pd

df = pd.read_csv("https://raw.githubusercontent.com/Witney-C/qm2group18/main/access_colours.csv",  
            dtype={"fips":str,"colour assignment":str})

df

       fips  No. of clinics per 1000 women with demand colour assignment
0     01001                                     0.2999               0-1
1     01003                                     0.2624               0-1
2     01005                                     1.2658               1-2
3     01007                                     2.1186               2-3
4     01009                                     0.3170               0-1
...     ...                                        ...               ...
3137  56037                                     0.3559               0-1
3138  56039                                     0.0000                 0
3139  56041                                     0.4098               0-1
3140  56043                                     1.3333               1-2
3141  56045                                     1.5385               1-2

[3142 rows x 3 columns]

In [7]:
df2 = pd.read_csv("/content/data/counties.csv",dtype={"fips":str})
df2

       fips               name state
0         0      UNITED STATES   NaN
1     01000            ALABAMA   NaN
2     01001     Autauga County    AL
3     01003     Baldwin County    AL
4     01005     Barbour County    AL
...     ...                ...   ...
3190  56037  Sweetwater County    WY
3191  56039       Teton County    WY
3192  56041       Uinta County    WY
3193  56043    Washakie County    WY
3194  56045      Weston County    WY

[3195 rows x 3 columns]

In [18]:
df3 = df2.merge(df,left_on='fips',right_on='fips')
df3

       fips  ... colour assignment
0     01001  ...               0-1
1     01003  ...               0-1
2     01005  ...               1-2
3     01007  ...               2-3
4     01009  ...               0-1
...     ...  ...               ...
3134  56037  ...               0-1
3135  56039  ...                 0
3136  56041  ...               0-1
3137  56043  ...               1-2
3138  56045  ...               1-2

[3139 rows x 5 columns]

In [19]:
#counties with 0 clinics
zero = df3.loc[df3['colour assignment'] == '0']
zero

       fips  ... colour assignment
72    02068  ...                 0
173   05131  ...                 0
245   08009  ...                 0
251   08019  ...                 0
254   08025  ...                 0
...     ...  ...               ...
3082  55077  ...                 0
3089  55089  ...                 0
3120  56009  ...                 0
3127  56023  ...                 0
3135  56039  ...                 0

[582 rows x 5 columns]

In [20]:
#state with most counties with zero clinics
zero['state'].describe()

count     582
unique     31
top        TX
freq      126
Name: state, dtype: object

In [21]:
#counties with lowest assignment of clinics/1000 women in demand (0-1)
low = df3.loc[df3['colour assignment'] == '0-1']
low

       fips  ... colour assignment
0     01001  ...               0-1
1     01003  ...               0-1
4     01009  ...               0-1
6     01013  ...               0-1
7     01015  ...               0-1
...     ...  ...               ...
3128  56025  ...               0-1
3130  56029  ...               0-1
3132  56033  ...               0-1
3134  56037  ...               0-1
3136  56041  ...               0-1

[1717 rows x 5 columns]

In [22]:
#state with most counties with 0-1 clinics/1000 women
low['state'].describe()

count     1717
unique      50
top         TX
freq        99
Name: state, dtype: object

In [23]:
#counties with highest (10+) colour assignment
high = df3.loc[df3['colour assignment'] == '10+']
high

       fips  ... colour assignment
67    02013  ...               10+
68    02016  ...               10+
73    02070  ...               10+
76    02105  ...               10+
81    02164  ...               10+
83    02180  ...               10+
85    02188  ...               10+
91    02282  ...               10+
184   06003  ...               10+
228   06091  ...               10+
559   16025  ...               10+
563   16033  ...               10+
1645  30103  ...               10+
1748  32011  ...               10+
1792  35003  ...               10+
1797  35011  ...               10+
1802  35021  ...               10+
1809  35033  ...               10+
2027  38083  ...               10+
2238  41069  ...               10+
2393  46073  ...               10+
2394  46075  ...               10+
2405  46097  ...               10+
2680  48323  ...               10+
2860  51091  ...               10+

[25 rows x 5 columns]

In [24]:
#state with most counties with 0-1 clinics/1000 women
high['state'].describe()

count     25
unique    11
top       AK
freq       8
Name: state, dtype: object